@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

:root {
  font-family: system-ui, -apple-system, sans-serif;
  color-scheme: light dark;
}

.dark {
  color-scheme: dark;
}